body{
   background-color: aqua;
}
p{

  font-style: italic;

}
div{
background-color: rgb(255, 0, 0);
  display: grid;
  margin: 1%;

  grid-template-columns: 6% 8% 8% 8% 4% 4% 4% 4% 4% 4% 4% 4% 4% 4% 5% 5% 4% 5% 4% 5% 2%;
  grid-template-rows: 1fr 0.5fr 0.5fr 1fr ;
  list-style: none;
  width: 95%;


border: 2px solid;

}
.comments{

  background-color: inherit;
  border: 1px dotted;

  grid-area: 5 / 1 / 8 / 13;
  display: none;



}
div input{
  color: black;
  font-weight: bold;
  margin-left: 2%;
  background-color: turquoise;



}
/* div input:focus{

} */
.radio0{
  grid-area: 2 / 5  / 3 / span 1 ;

}
.radio1{
  grid-area: 2 / 7  / 3 / span 1;

}
.radio2{
  grid-area: 2 / 9  / 3 / span 1 ;

}
.radio3{
  grid-area: 2 / 11  / 3 / 12 ;

}
.radio4{
  grid-area: 2 / 13  / 3 / 14 ;

}
.label0{
  grid-area: 2 /6 /3 / 7;

}
.label1{
  grid-area: 2/ 8 /3 / 9;

}
.label2{
  grid-area: 2/ 10 /3 /11;

}
.label3{
  grid-area: 2 / 12 /3 /13;

}
.label4{
  grid-area: 2/ 14 / 3 /15;

}

.rating{
  grid-area: 1/5/2/ span 10;
  text-align: center;

}

.delete{
  grid-area: 7 / 19 / 8 / 21;
  display: none;

}
.lock{
    color: black;
  grid-area: 2 / 18 / 3 / 19;

}
.edit{
    color: black;
    display: none;
    grid-area: 7 / 17 / 8 / 18;





}
.mentee{
  background-color: inherit;
  grid-area: 2/1/4/5;
}
input{
  background-color: orange;
}
#text{
  background-color: white;
}
.menteename{
  background-color: inherit;
  grid-area: 2/1/4/5;
  text-align: center;

}
.cpara{


    background-color: inherit;

    display: none;
    grid-area: 5 / 1 / 8 / 13;

    text-align: right;


}
.toggle{
  grid-area: 2/15/3/18;
  color: white;
}
