
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  }

body{
  background-color: #FFE5CC;


font-family: sans-serif;
font-variant: small-caps;
}
.htext{

  font-size: 2vw;

  list-style: none;
  cursor: pointer;
  text-decoration: none;



}
.header{
  width: 100%;
  background-color: rgba(239, 138, 138, 0.85);
  position: fixed;
  height: 3vw;;
  margin: none;
  z-index: 1;
}

.one{

position: absolute;
left: 2%;
top: 10%;
text-decoration: none;

}
.two{

  position: absolute;
  left: 10%;
  top: 10%;

}
.three{

  position: absolute;
  left: 18%;
  top: 10%;




}
.four{
  left:30%;
  position: absolute;
  top: 10%;


}
.one:hover{
  text-decoration: underline;
}
.two:hover{
  text-decoration: underline;
}
.three:hover{
  text-decoration: underline;
}
.four:hover{
  text-decoration: underline;
}
.about{
  width: 100%;
  height: 80%;
  position: relative;
  top: 5%;

}
.about {
  color: red;
  top: 5em;


}
hr{

    display: block;
    height: 1px;
    border: 0;
    border-top: 5px;
    border: 3px solid #FFB266;
    margin: 0;
    padding: 0;

}
.about img{
  width: 10%;
  height: 80%;
  position: relative;
  left: 45%;
  bottom: 6px;
  border-radius: 80% 80% 80% 80%;
}
.about p{
  position: relative;
  font-size: 25px;
  left: 150px;
  width: 80%;

  line-height: 50px;
  text-align: center;
  color: #000;
  font-family: cursive;
}
.about h6{
  display: block;
  font-size: 36px;
  position: relative;
  left: 10px;
  bottom: 20px;
}
.about a{
  color: black;
}
.projects{

position: relative;
  top: 18vw;

}
.projects ul{
  width: 95%;
  font-size: 2.5vw;
  line-height: 150px;
  list-style: none;
  text-align: right;
  position: relative;





}
.projects h3{
  text-align: center;
  font-size: 100px;
  display: block;

}
.about hr{
  position: relative;
  top: 5vw;
}
.image{
  width: 28vw;
  height: 22vw;
  position: absolute;
  top: 3vw;
  left: 12vw;
}

.contact{
  position: relative;
  top: 20vw;
  text-align: center;
  font-size: 100px;
  display: block;
}
.img{
  width: 200px;
  height: 200px;
  position: relative;


}
.img1{
  width: 160px;
  height: 130px;
position: relative;
  bottom: 30px;

}
.imglink{
  width: 4vw;
  height:4vw;
  position: fixed;
  top: -8px;
  right: 10px;

}
.imglink2{
  width: 3.5vw;
  height:2.5vw;
  position: fixed;
  top: 0.0125vw;
  right: 60px;
  margin: 0 0 0 0;
  padding: none;
}
.img2{
  width: 160px;
  height: 130px;
  position: relative;
  bottom: 30px;
  display: inline;
}
.imglink3{
  width: 3vw;
  height:3vw;
  position: fixed;
  top: -2px;
  right:110px;
  margin: 0 0 0 0;

}
.header a{
  text-decoration: none;
  color: black;
}
.contact a{
  text-decoration: none;
}
