
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  }

body{
  background-color: #FFE5CC;


font-family: sans-serif;
font-variant: small-caps;
}
.htext{
  display: inline;
  font-size: 30px;
  list-style: none;
  cursor: pointer;
  text-decoration: none;


}
.header{
  width: 100%;
  background-color: rgba(239, 138, 138, 0.85);
  position: fixed;
  height: 6%;
  margin: none;
  z-index: 1;
}

.one{

position: absolute;
left: 10px;
top: 5px;
text-decoration: none;

}
.two{

  position: fixed;
  left: 160px;
  top: 5px;

}
.three{

  position: fixed;
  left: 310px;
  top: 5px;




}
.four{
  left:500px;
  position: fixed;
  top: 5px;


}
.one:hover{
  text-decoration: underline;
}
.two:hover{
  text-decoration: underline;
}
.three:hover{
  text-decoration: underline;
}
.four:hover{
  text-decoration: underline;
}
.about{
  width: 100%;
  height: 200px;
  position:relative;
  top: 100px;

}
.about {
  color: red;

}
hr{

    display: block;
    height: 1px;
    border: 0;
    border-top: 5px;
    border: 3px solid #FFB266;
    margin: 0;
    padding: 0;

}
.about img{
  width: 10%;
  height: 175px;
  position: relative;
  left: 45%;
  bottom: 6px;
  border-radius: 90px 90px 90px 90px;
}
.about p{
  position: relative;
  font-size: 25px;
  left: 150px;
  width: 80%;

  line-height: 50px;
  text-align: center;
  color: #000;
  font-family: cursive;
}
.about h6{
  display: block;
  font-size: 36px;
  position: relative;
  left: 10px;
  bottom: 20px;
}
.about a{
  color: black;
}
.projects{
  position: relative;
  top: 700px;
}
.projects ul{
  width: 95%;
  font-size: 50px;
  line-height: 150px;
  list-style: none;
  text-align: right;
}
.projects h3{
  text-align: center;
  font-size: 100px;
  display: block;
}
.about hr{
  position: relative;
  top: 90px;
}
.image{
  width: 500px;
  height: 400px;
  position: absolute;
  top: 350px;
  left: 60px;
}
.contact{
  position: relative;
  top: 800px;
  text-align: center;
  font-size: 100px;
  display: block;
}
.img{
  width: 200px;
  height: 200px;
  display: inline;

}
.img1{
  width: 160px;
  height: 130px;
  position: relative;
  bottom: 30px;
  display: inline;
}
.imglink{
  width: 60px;
  height:60px;
  position: fixed;
  top: -5px;
  right: 10px;
  margin: 0 0 0 0;
  padding: none;
}
.imglink2{
  width: 50px;
  height:40px;
  position: fixed;
  top: 5px;
  right: 60px;
  margin: 0 0 0 0;
  padding: none;
}
.img2{
  width: 160px;
  height: 130px;
  position: relative;
  bottom: 30px;
  display: inline;
}
.imglink3{
  width: 50px;
  height:40px;
  position: fixed;
  top: 5px;
  right:110px;
  margin: 0 0 0 0;
  padding: none;
}
.header a{
  text-decoration: none;
  color: black;
}
